@charset "utf-8";
circle.axis_circle {
  fill: none;
  stroke: #777;
}

.wedge {
  opacity: 0.8;
}

.wedge.cannotPopOut {
	stroke: #333;
}

.revenue {
	fill: #00995e;
}

.assets {
	fill: #00759d;
}

.liabilities {
	fill: #be2900;
}

.expenses {
	fill: #8b003d;
}

text {
	font: 10px sans-serif;
	fill: white;
	opacity: 1;
}

text.label {
	text-anchor: middle;
}

text.wedgeLabel {
	fill: white;
}

text.entityLabel {
	fill: black;
	font-size: 18px;
}

text.relationLabel {
}

text.wedgeLabel.value {
	font-size: 32px;
}

text.relationLabel.value {
	font-size: 24px;
}

text.wedgeLabel.name, text.relationLabel.name {
	font-size: 14px;
}

circle.tinyHalo {
	fill: white;
	stroke: black;
	opacity: 0.5;
}

text.link {
	text-decoration: underline; /* haha, doesn't work in firefox; 7 year old bug. https://bugzilla.mozilla.org/show_bug.cgi?id=317196 */
	fill: blue;
}
