@charset "utf-8";

#openeconomy {
    font: 10px sans-serif;
}

#openeconomy #oldBrowserWarning {
    position: fixed;
    top: 70px;
    background-color: #FFF;
    color: #000;
    font-size: 120%;
    padding: 0.5em;
    border-color: #F00;
    border-width: 2px;
    border-style: solid;
}

#openeconomy #oldBrowserWarning a:link {
    color: #00F;
}

#openeconomy #rightContainer {
    float:right;
    /*width:200px;*/
    text-align:right;
}

#openeconomy #rightContainer .tighttop {
    margin-top: 0;
}

#openeconomy #rightToolBox {
    position:fixed; 
    right:5px;
    top: 33px;
    width: 200px;
}

#openeconomy #rightToolBox hr {
    width: 96px;
    float: right;
}

#openeconomy .box {
    /*width: 200px;*/
    /*background-color: rgb(7, 16, 43);*/
    background-color: rgba(0, 0, 96, 0.4);
    padding: 0.5em;
    margin-bottom: 0.4em;
}

/* this is full of shameful hackery. FIXME */
#openeconomy .box p.rotate {
    position: fixed;
}

#openeconomy #viewbox p.rotate {
    right: 166px;
    width: 50px;
    margin: 0;
}


#openeconomy #periodbox {
    height: 100px;
}

#openeconomy #periodbox table td {
    padding: 0;
}

#openeconomy #periodbox p.rotate,
#openeconomy #informationbox p.rotate  {
    width: 50px;
    right: 166px;
    margin: 0;
}

#openeconomy #informationbox {
    min-height: 37px;
}

#openeconomy #actionbox {
    font-size: 14px;
}

#openeconomy #actionbox #keyactions {
    font-size: 18px;
}


#openeconomy #financialYearTxt {
    text-align: center;
}

#openeconomy #period {
    width: 155px;
    font-size: 400%;
    text-align: right;
    margin: 0;
    float: right;
}

#openeconomy #periodSel {
    width: 96px;
}

#openeconomy #toggleInfoBoxContainer {
    margin-top: 0;
    margin-bottom: 2.25em;
    clear: both;
}

#openeconomy #infobox {
    width: 190px;
    min-height: 125px;
}

#openeconomy #entitySel {
    width: 190px;
}


#openeconomy div {
    color: white;
}

#openeconomy div a {
    color: #77F;
}

#openeconomy * {
	/* Stop selection (e.g. on double click) */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	
	/*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	  */
	-ms-user-select: none;
	user-select: none;
}

#openeconomy .link {
	cursor: pointer;
}

#openeconomy img.btnimg {
    height: 32px;
    width: 32px;
    background-image: url(/images/icons.png);
    border: none;
}

#openeconomy img.icon-apply {
    background-position: 0px 0px;
}

#openeconomy img.icon-cancel {
    background-position: -32px 0px;
}

#openeconomy img.icon-disk {
    background-position: -64px 0px;
}

#openeconomy img.icon-zoom-in {
    background-position: 0px -32px;
}

#openeconomy img.icon-zoom-out {
    background-position: -32px -32px;
}

#openeconomy img.icon-zoom-box {
    background-position: -64px -32px;
}

#openeconomy img.icon-zoom-original {
    background-position: -96px -32px;
}

#openeconomy img.smlbtnimg {
    height: 24px;
    width: 24px;
    background-image: url(/images/icons.png);
    border: none;
}

#openeconomy img.icon-seek-backwards {
    background-position: 0px -64px;
}

#openeconomy img.icon-seek-forwards {
    background-position: -32px -64px;
}

#openeconomy img.icon-start {
    background-position: -64px -64px;
}

#openeconomy img.icon-stop {
    background-position: -96px -64px;
}

#openeconomy .hidden {
    display: none;
}

#openeconomy .rotate {
    /* From http://css-tricks.com/snippets/css/text-rotation/ */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    text-align: left;
    font-size: 120%;
}

#openeconomy a:link {
    color: #FFF;
}

#openeconomy a:visited {
    color: #99F;
}