@charset "utf-8";
body {
	/*background: url("images/back.jpg") repeat scroll 0 0 transparent;*/
        background-color: rgb( 8, 27, 59 );
	font: 10px sans-serif;
}

#oldBrowserWarning {
    position: fixed;
    top: 70px;
    background-color: #FFF;
    color: #000;
    font-size: 120%;
    padding: 0.5em;
    border-color: #F00;
    border-width: 2px;
    border-style: solid;
}

#oldBrowserWarning a:link {
    color: #00F;
}

#rightContainer {
    float:right;
    /*width:200px;*/
    text-align:right;
}

#rightContainer .tighttop {
    margin-top: 0;
}

#rightToolBox {
    position:fixed; 
    right:5px;
    top: 33px;
    width: 200px;
}

#rightToolBox hr {
    width: 96px;
    float: right;
}

.box {
    /*width: 200px;*/
    /*background-color: rgb(7, 16, 43);*/
    background-color: rgba(0, 0, 96, 0.4);
    padding: 0.5em;
    margin-bottom: 0.4em;
}

/* this is full of shameful hackery. FIXME */
.box p.rotate {
    position: fixed;
}

#viewbox p.rotate {
    right: 166px;
    width: 50px;
    margin: 0;
}

#iobox {
    min-height: 50px;
}

#iobox p.rotate {
    width: 67px;
    right: 157px;
}

#periodbox {
    height: 100px;
}

#periodbox table td {
    padding: 0;
}

#periodbox p.rotate,
#informationbox p.rotate  {
    width: 50px;
    right: 166px;
    margin: 0;
}

#informationbox {
    min-height: 37px;
}

#actionbox {
    font-size: 14px;
}

#actionbox #keyactions {
    font-size: 18px;
}

#morebox {
    min-height: 50px;
}

#morebox p.rotate {
    width: 64px;
    right: 160px;
    margin: 0;
}

#ephemeralUploadFile {
    width: 190px;
}

#financialYearTxt {
    text-align: center;
}

#period {
    width: 155px;
    font-size: 400%;
    text-align: right;
    margin: 0;
    float: right;
}

#periodSel {
    width: 96px;
}

#toggleInfoBoxContainer {
    margin-top: 0;
    margin-bottom: 2.25em;
    clear: both;
}

#infobox {
    width: 190px;
    min-height: 125px;
}

#entitySel {
    width: 190px;
}

#headline {
    position:fixed;
    right: 5px;
    font-size: 17pt;
    color: rgb(66, 77, 100);
    text-align: right;
    width: 99%;
}

#headline img {
    float: left;
    /* This is an SVG, so we can guiltlessly scale it */
    height: 60px;
    width: 69px;
    opacity: 0.25;
}

div {
    color: white;
}

div a {
    color: #77F;
}

* {
	/* Stop selection (e.g. on double click) */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	
	/*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	  */
	-ms-user-select: none;
	user-select: none;
}

.link {
	cursor: pointer;
}

img.btnimg {
    height: 32px;
    width: 32px;
    border: none;
}

img.smlbtnimg {
    height: 24px;
    width: 24px;
    border: none;
}

.hidden {
    display: none;
}

rect.eventGrabber {
    opacity: 0;
    fill-opacity: 0
}

rect.zoomGrabber {
    opacity: 0;
    fill-opacity: 0;
    cursor: crosshair;
}

rect.zoomRect {
    fill-opacity: 0.1;
    opacity: 1;
    stroke-width: 2;
    stroke: black;
    cursor: crosshair;
}

.rotate {
    /* From http://css-tricks.com/snippets/css/text-rotation/ */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    text-align: left;
    font-size: 120%;
}

a:link {
    color: #FFF;
}

a:visited {
    color: #99F;
}

#link {
    width: 190px;
    text-size: 10px;
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}