# Example for settings.py
# Put your actual values here, then rename it settings.py

smtp_url = "smtp://localhost"

# Replace this with you own 32 byte random string!
session_encrypt_key = "a" * 32

email_sender = 'you@your.com'

# This value is used in embed.tpl
hostname = 'localhost:8080'
# Don't forget to also change the hostname in views/register_email.tpl
# and views/password_reset_email.tpl, which are hardcoded because Cork
# doesn't support passing variables to templates...

# If you've followed the standard setup instructions, this should
# load up the Commonwealth Final Budget Outcome
default_initial_state = '5205fe5e441124423301c1c9'

